@import "../../colors.scss";

.main-navbar {
  background-color: $back-custom-color;
  // height: 10vh;
  width: 100%;
  max-width: 100%;
}

.main-section {
  min-height: 50vh;
  width: 100%;
}

.main-footer {
  height: 30vh;
  width: 100%;
}

.img-brand {
  width: 60px;
  height: 60px;
}

.btn-detail {
  background-color: $detail-custom-color;
}

.btn-detail:hover {
  background-color: $back-custom-color;
  color: white;
}
