@import "../../colors.scss";

.main-navbar {
  position: fixed;
  background-color: rgba($back-custom-color, 0.9);
  height: 80px;
  width: 100%;
  max-width: 100%;
  box-shadow: -1px 16px 30px -13px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 16px 30px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 16px 30px -13px rgba(0, 0, 0, 0.75);
  z-index: 10000;
}

.main-bg {
  background: url("../../assets/img/c4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.main-section {
  padding-top: 80px;
  min-height: 50vh;
  width: 100%;
}

.main-footer {
  height: 30vh;
  width: 100%;
  position: relative;
}
.bg-footer {
  background-color: $secondary-custom-color;
}
.img-brand {
  width: 60px;
  height: 60px;
}

.btn-detail {
  background-color: $detail-custom-color;
}

.btn-detail:hover {
  background-color: $back-custom-color;
  color: white;
}

.scale-hover:hover {
  transform: scale(1.01);
  cursor: pointer;
  box-shadow: 17px 18px 30px -13px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 17px 18px 30px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 18px 30px -13px rgba(0, 0, 0, 0.75);
}
.scale-hover {
  transition: all 0.3s;
}
.scale-hover2:hover {
  transform: scale(1.01);
  cursor: pointer;
  box-shadow: -17px 18px 30px -13px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -17px 18px 30px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -17px 18px 30px -13px rgba(0, 0, 0, 0.75);
}
.scale-hover2 {
  transition: all 0.3s;
}

.bg-back {
  background-color: $back-custom-color;
}

.father-section {
  overflow: hidden;
  position: relative;
}
.child-section {
  position: absolute;
}
.top-wave {
  top: -20%;
  width: 100%;
  z-index: 0;
}
.wave-section {
  z-index: 1;
}

.fifth-section-footer {
  height: 50px;
  width: 100%;
  background-color: $back-custom-color;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  color: white;
}
