* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.bg-gray{
  background-color: rgb(243, 243, 243);
}

.w-full{
  width: 100%;
}
 
.border-gray{
  border-color: rgb(170, 170, 170);
}
.cursor-pointer{
  cursor: pointer !important;
  .option_item{
    &:hover{
      color: red;
    }
  }
}